@import 'global-styles';

.main-container {
  display: grid;
  width: 250px;
  margin: auto;
  text-align: center;
}

.screen-container {
  background-color: map-get($colors, primary-grey);
  padding: 0.5rem;
  grid-column: 1 / span 4;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.button {
  background-color: map-get($colors, tertiary-white);
  border: 1px solid map-get($colors, primary-grey);
  padding: 10px;
}

.button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.button:nth-child(18n) {
  grid-column: 1 / span 2;
}

.button:nth-child(4n+1), .button:last-child{
  background-color: map-get($colors, primary-orange );
}

