@import 'global-styles';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.navbar__h1 {
  font-size: 3rem;
  color: map-get($colors, primary-orange);
}

.navbar__ul {
  display: flex;
  list-style: none;
  color: map-get($colors, primary-white);
}

.navbar__a {
  color: map-get($colors, secondary-white);
  padding: 1rem;
}

.navbar__a:hover {
  color: map-get($colors, primary-white);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar__h1 {
    font-size: 2rem;
  }
  .navbar__ul {
    padding: 0;
  }
}
