@import 'global-styles';

.navbar {
  display: flex;

}

.navbar__h1 {
  padding: 1rem;
  font-size: 3rem;
  color: map-get($colors, primary-orange);
}

.navbar__ul {
  display: flex;
  list-style: none;
  color: map-get($colors, primary-white);
}
